{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block body %}
    {% for message in app.flashes('success_update_profile') %}
        <div class="alert alert-success" role='alert'>
            {{ message }}
        </div>
    {% endfor %}

    <h1 class="mb-4 fs-1 fw-semibold pt-5 pb-5">Mon profil</h1>
    <div class="box">
        <div class="f-box shadow card-profile align-items-start justify-content-evenly gap-3 hover-shadow-blue">
            <div class = "bg-white rounded-circle avatar-box w-25 h-100 gap-3 text-center">
                <img src="{{ asset('images/Avatar.svg') }}" alt="Avatar de l'utilisateur" class="profile-avatar-img rounded-circle zoom-1-03">
                <h3 class="fs-3 fw-semibold">{{ app.user.firstName }} {{ app.user.lastName }}</h2>
            </div>
            <div id="profile-card"class="f-box-col w-50 text-center h-100 gap-3">
                <div class="info-row d-flex align-items-center justify-content-between p-2 zoom-1-03">
                    <p class="p-info-title p-2">Date de naissance :</p>
                    <p class="p-info-value p-2">{{ app.user.birthdate ?: 'Non renseignée' }}</p>
                </div>
                       <div class="info-row d-flex align-items-center justify-content-between p-2 zoom-1-03">
                    <p class="p-info-title p-2">Genre :</p>
                    <p class="p-info-value p-2">{% if app.user.gender == "male" %} Homme {% elseif app.user.gender == "female" %} Femme {% elseif app.user.gender == "other" %} Autre {% else %} Ne souhaite pas répondre {% endif %}</p>
                </div>
                       <div class="info-row d-flex align-items-center justify-content-between p-2 zoom-1-03">
                    <p class="p-info-title p-2">Adresse :</p>
                    <p class="p-info-value p-2">{{ app.user.address }}</p>
                </div>
                <div class="info-row d-flex align-items-center justify-content-between p-2 zoom-1-03">
                    <p class="p-info-title p-2">Nombre de gains :</p>
                    <p class="p-info-value p-2">{{ app.user.codes|length }}</p>
                </div>
            </div>
            {{ form_start(form, {'attr': 
                {
                    'id':'profile-form',
                    'class': 'profile-form f-box align-items-center text-start gap-3 p-0 m-0 w-25'
                }
            })}}
                <div id= 'edit-form'>
                    {{ form_row(form.firstName, { attr: {'class': 'form-control w-100'}}) }}
                    {{ form_row(form.lastName, { attr: {'class': 'form-control w-100'}}) }}
                    {{ form_row(form.birthdate, { attr: {'class': 'form-control w-100'}}) }}
                    {{ form_row(form.gender, { attr: {'class': 'form-control w-100'}}) }}
                    {{ form_row(form.address, { attr: {'class': 'form-control w-100'}}) }}
                </div>
                <div id="profile-button-group" class="f-box-col align-items-start gap-3 w-100">
                    <button type="button" id="edit-button" class="btn btn-blue w-100">
                        <p><i class="fas fa-edit"></i> Modifier</p>
                    </button>
                    <button type="button" id="delete-account-button" class="btn btn-dark w-100" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                        <p><i class="bi bi-person-x"></i> Supprimer votre compte</p>
                    </button>
                    <button type="submit" id="btn-save" class="btn btn-lightgreen w-100">
                        <p><i class="fas fa-save"></i> Enregistrer</p>
                    </button>
                </div>
            {{ form_end(form) }}
        </div>

    </div>
    {% include 'components/modalDeleteAcount.html.twig' %}
    <h2 class="mb-4 fs-2 fw-semibold pt-5 pb-5">Mes gains</h2>

    {% if app.user.codes is empty %}
        <p>Vous n'avez pas encore de gains.</p>
    {% else %}
        <div class="d-flex flex-column align-items-center justify-content-center gap-5 prize-grid">
            <div class="d-flex align-items-center justify-content-center gap-5 w-100 flex-wrap">
                {% for prize in app.user.codes %}
                    <div class="card card-prize card-bg-{{ prize.delivry  ? '1' : '0  zoom-1-1' }}">
                        <div class="card p-2 border-0">
                            <img src="{{ asset('images/' ~ prize.prize ~ '.jpg' ) }}" class="card-img-top" alt="{{ prize.prize }}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ prize.prize }}</h5>
                            <p class="card-text">Code : {{ prize.code }}</p>
                            <p class="card-text p-delivered">
                                {% if prize.delivry == true %}
                                    Produit récupéré
                                {% else %}
                                    Produit non récupéré
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0"
            });
            $("#edit-button").click(function() {

                $("#edit-form, #profile-card, #btn-save, #delete-account-button").toggle(); 

                $(this).toggleClass('btn-blue btn-dark'); 
                $("#profile-button-group").toggleClass('w-100 profile-button-group');
                $("#profile-form").toggleClass('w-25 w-75'); 

                if ($(this).hasClass("btn-blue")){
                    $(this).html('<p><i class="fas fa-edit"></i> Modifier</p>') 
                }else{
                    $(this).html('<p><i class="bi bi-x"></i> Annuler</p>') 
                }
            });
        });
    </script>
{% endblock %}