{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="form-container">
        <h2 class="text-center mb-4">Connexion</h2>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="mb-3">
                <input type="email" name="_username" value="{{ last_username }}" class="form-control" placeholder="Email" required autofocus>
            </div>
            <div class="mb-3">
                <input type="password" name="_password" class="form-control" placeholder="Mot de passe" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-primary w-100">Se connecter</button>
        </form>
        <div class="mt-3">

            <a href="{{ path('connect_google_start') }}" class="btn btn-primary">Se connecter avec Google</a>
            <a href="{{ path('connect_facebook_start') }}" class="btn btn-primary">Se connecter avec Facebook</a>
        </div>
    </div>
{% endblock %}