{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% for message in app.flashes('error_need_to_login') %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success_verified_email') %}
        <div class="alert alert-succes" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h1 class="mb-4 fs-1 fw-semibold vmb-5 mt-5">Connexion</h1>
    <div class="container text-start">
        <div class="login d-flex align-items-center justify-content-evenly gap-5 h-100">
            <form method="post" class="login-form d-flex flex-column align-items-center gap-5 p-0">
                <div class="w-100 d-flex flex-column gap-2">
                    <h3>Email</h3>
                    <input type="email" name="_username" value="{{ last_username }}" class="form-control w-100" placeholder="Email" required autofocus>
                </div>
                <div class="w-100 d-flex flex-column gap-2">
                    <h3>Mot de passe</h3>
                    <input type="password" name="_password" class="form-control w-100" placeholder="Mot de passe" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="btn btn-green btn-login rounded-pill w-100 "><p class="text-white">Se connecter</p></button>
                {% if error %}
                    <div class="alert alert-danger w-100">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </form>
            <div class="login-other-auth d-flex flex-column align-items-center gap-5">
                <a href="{{ path('connect_google_start') }}" class="btn btn-login btn-darkblue d-flex align-items-center justify-content-center rounded-pill w-100"><p class="text-white">Se connecter avec Google</p></a>
                <a href="{{ path('connect_facebook_start') }}" class="btn btn-login btn-darkblue d-flex align-items-center justify-content-center rounded-pill w-100"><p class="text-white">Se connecter avec Facebook</p></a>
            </div>
        </div>
    </div>
{% endblock %}