{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center mb-4 fs-2 fw-semibold pt-5 pb-5">Les différents lots à gagner</h1>
    <div class="d-flex flex-column align-items-center justify-content-center gap-5 prize-grid">
        <div class="d-flex align-items-center justify-content-center gap-5 w-100 flex-wrap">
        {% for prize in prizes %}
            <div class="card card-home zoom-1-1">
                <div class="card p-2 border-0">
                    <img src="{{ asset('images/' ~ prize.image ) }}" class="card-img-top" alt="{{ prize.name }}">
                    {% if prize.rank %}
                        <div class="rotate-90-deg card-rank card-rank-{{ prize.rank }} rounded-circle d-flex align-items-center justify-content-center">{{ prize.rank }}</div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-title">{{ prize.name }}</p>
                    <p class="card-subtitle mb-2 text-muted">Une valeur de <span class="fw-semibold">{{ prize.price }} €</span></p>
                    <p class="card-text">{{ prize.description }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="d-flex align-items-center justify-content-center pt-3">
            <a href="{{ path('app_lottery') }}" class="btn-pink btn-lottery btn hover-25 rounded-pill">
                <p class="text-white fs-2 d-flex align-items-center h-100 justify-content-center">Loterie</p>
            </a>
        </div>
    </div>

{% endblock %}