{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="mb-4 fs-1 fw-semibold vmb-5 mt-5">Inscription</h1>
    <div class="container text-start">
        <div class="login d-flex align-items-center justify-content-evenly gap-5 h-100">
            {{ form_start(registrationForm, { attr: {'class': 'signup-form w-100 d-flex flex-column align-items-center gap-3 p-0'}} ) }}
            {{ form_row(registrationForm.email,{ attr: {'class': 'form-control w-100'}}) }}
            {{ form_row(registrationForm.password,{ attr: {'class': 'form-control w-100'}}) }}
            {{ form_row(registrationForm.firstName,{ attr: {'class': 'form-control w-100'}}) }}
            {{ form_row(registrationForm.lastName,{ attr: {'class': 'form-control w-100'}}) }}
            {{ form_row(registrationForm.gender,{ attr: {'class': 'form-control w-100'}}) }}
            {{ form_row(registrationForm.birthdate,{ attr: {'class': 'form-control w-100'}}) }}
            {{ form_row(registrationForm.address,{ attr: {'class': 'form-control w-100'}}) }}
            <label class="checkbox-container">
                <input type="checkbox" id="termsCheckbox" required>
                <span class="checkmark"></span>
                En créant un compte, vous acceptez les
                <a href="{{ path('app_mention_legale') }}" target="_blank">Conditions générales</a> et notre
                <a href="{{ path('app_confidentialite_application') }}" target="_blank">politique de confidentialité</a>
            </label>
            <button type="submit" id="inscriptionButton" class="btn btn-login rounded-pill w-100 btn-blue" disabled><p>S'inscrire</p></button>
            {{ form_end(registrationForm) }}
            <div class="login-other-auth d-flex flex-column align-items-center gap-5 w-100">
                <a href="{{ path('connect_google_start') }}" class="btn btn-login btn-darkblue d-flex align-items-center justify-content-center rounded-pill w-100"><p>S'inscrire avec Google</p></a>
                <a href="{{ path('connect_facebook_start') }}" class="btn btn-login btn-darkblue d-flex align-items-center justify-content-center rounded-pill w-100"><p>S'inscrire avec Facebook</p></a>
                <p>Déjà un compte ? <a href="{{ path('app_login') }}"><span class="p-green">Se connecter</span></a></p>
            </div>
        </div>

        {{ parent() }}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script>
            $(document).ready(function() {
                $(".datepicker").datepicker({
                    dateFormat: 'dd/mm/yy',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-100:+0"
                });

                // Gestion de l'état du bouton d'inscription
                $("#termsCheckbox").change(function() {
                    $("#inscriptionButton").prop("disabled", !this.checked);
                });
            });
        </script>
    </div>

    <style>
        #inscriptionButton:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    </style>
{% endblock %}