{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password) }}
    <button type="submit" class="btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}
    <div class="social-login">
        <a href="{{ path('connect_google_start') }}" class="btn-google">S'inscrire avec Google</a>
        <a href="{{ path('connect_facebook_start') }}" class="btn-facebook">S'inscrire avec Facebook</a>
    </div>
    <p>Déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></p>
{% endblock %}