{# templates/admin/dashboard.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <h1>Dashboard Administrateur</h1>

    <h2>Statistiques</h2>
    <ul>
        <li>Nombre total de ticket: {{ stats.totalTickets }}</li>
        <li>Tickets utilisés: {{ stats.usedTickets }}</li>
        <li>Nombre total de prix gagnés: {{ stats.totalPrizes }}</li>
    </ul>

    <h2>Genre statistiques</h2>
    <ul>
        {% for gender, count in stats.genderStats %}
            <li>{{ gender }}: {{ count }}</li>
        {% endfor %}
    </ul>

    <h2>Age statistiques</h2>
    <ul>
    </ul>

    <a href="{{ path('admin_email_data') }}">Voir les données d'emailing</a>
{% endblock %}