<!-- Footer -->
        <footer class="mt-5">
            <!-- Section: Links  -->
            <section class="d-flex">
                <div class="container-fluid d-flex">

                    <a class="" href="{{ path('app_home') }}">
                        <img src="{{ asset('images/Logo.svg') }}" alt="Logo du site Thé Tip Top" class="footer-logo">
                    </a>
                    <div class="d-flex align-items-center justify-content-evenly footer-section-div-link">
                        <div class="d-flex flex-column align-items-center justify-content-evenly h-100">
                            <a class="" href="{{ path('app_home') }}"><p class="fw-semibold hover-25 p-green">Eiusmod nisi labore est laboris officia.</p></a>
                            <a class="" href="{{ path('app_home') }}"><p class="hover-25 p-green">Eiusmod nisi labore est laboris officia.</p></a>
                            <a class="" href="{{ path('app_home') }}"><p class="hover-25 p-green">Eiusmod nisi labore est laboris officia.</p></a>
                            <a class="" href="{{ path('app_home') }}"><p class="hover-25 p-green">Eiusmod nisi labore est laboris officia.</p></a>
                        </div>
                        <div class="d-flex flex-column align-items-center justify-content-evenly h-100">
                            <a class="" href="{{ path('app_home') }}"><p class="hover-25 p-green">Eiusmod nisi labore est laboris officia.</p></a>
                            <a class="" href="{{ path('app_home') }}"><p class="hover-25 p-green">Eiusmod nisi labore est laboris officia.</p></a>
                            <a class="" href="{{ path('app_home') }}"><p class="hover-25 p-green">Eiusmod nisi labore est laboris officia.</p></a>
                            <a class="" href="{{ path('app_home') }}"><p class="hover-25 p-green">Eiusmod nisi labore est laboris officia.</p></a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                <p class="fw-semibold text-white">&copy; 2024 Il s’agit d’un projet étudiant fictif pour lequel aucun réel achat ou aucune réservation ne pourrait être effectué</p>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->